<div class="card castings">
  <%= render partial: "title" %>
  <%= render partial: "menu_buttons" %>

  <% if @casting.processing_error_status? %>
    <%= render partial: "status_errors", locals: {title: t(".error_title")} %>
  <% else %>
    <div class="card-section">
      <div class="row column text-center">
        <h2>
          <%= t(".title") %>
        </h2>
        <%= image_tag("decidim/castings/data_processing.svg", alt: "Processing Data") %>
      </div>
    </div>
    <div class="card-section">
      <div class="row column text-center">
        <h2>
          <%= t(".trial_number") %>:
          <b>
            <%= @result&.number_of_trials || '--' %>
          </b>
        </h2>
      </div>
    </div>
  <% end %>

  <%= render partial: "page_refresh_counter" %>

</div>
