<div class="card castings">
  <%= render partial: "title" %>

  <% if @casting.importing_error_status? %>
    <%= render partial: "status_errors", locals: {title: t(".error_title")} %>
  <% else %>
    <div class="card-section">
      <div class="row column text-center">
        <h2>
          <%= t(".title") %>
        </h2>
        <%= image_tag("decidim/castings/data_processing.svg", alt: "Importing Data") %>
      </div>
    </div>

    <%= render partial: "page_refresh_counter", locals: {seconds: 10} %>

  <% end %>
</div>
