<div class="card">
  <div class="card-divider">
    <h2 class="card-title flex--sbc">
      <div>
        <%= link_to t("decidim.castings.menu.castings"), castings_path %>
        &gt;
        <%= @casting.title %>
      </div>

      <div class="flex--cc flex-gap--1">
        <div id="js-other-actions-wrapper">
          <%= link_to t("actions.back", scope: "decidim.castings.admin"), castings_path, class: "button hollow tiny button--simple" %>
        </div>
      </div>
    </h2>
  </div>

  <div class="card-section">
    <div class="row column">
      <%= t("data_source", scope: 'decidim.castings.admin.castings.menu') %>
      <%= t("selection_criteria", scope: 'decidim.castings.admin.castings.menu') %>
      <%= t("results", scope: 'decidim.castings.admin.castings.menu') %>
    </div>
  </div>

  <div class="card-section">
    <div class="row column">
      <div class="grid-x grid-margin-x">
        <div class="cell small-11">
          <h2><%= t(".data_statistics") %></h2>
          <p>
            <b><%= t(".file_name") %>:</b>
            <%= @casting[:file] %>
            <%= link_to @casting.file.url, target: "_blank", rel: "noopener", title: t(".download") do %>
              <%= icon "data-transfer-download", role: "img", aria_label: t(".download") %>
            <% end %>
          </p>
          <p><b><%= t(".imported_at") %>:</b> <%= l @casting.data_source_imported_at, format: :short %></p>
        </div>
        <div class="cell small-1 text-center">
          <div class="callout callout--full">
            <div class="Select-loading-zone">
              <h1><%= @casting.data_source_statistics.dig('total_rows') %></h1>
              <p><%= t(".participants") %></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row column">
      <div class="grid-x grid-margin-x data-statistic-charts">
        <% charts_data_presenter.statistics_charts.each do |chart_data| %>
          <div class="cell small-6" style="border: 2px solid #7acaf1; margin-bottom: 1rem">
            <%= render partial: "data_source_statistics_chart", locals: { data: chart_data } %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
